
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Adopt a Pet
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        Love a pet? Join our community!
      </p>

      <h2 class="govuk-heading-m">About this page</h2>

      <p>This service acts as a marketplace for pet lovers to exchange pets </p>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="https://dogtime.com/dog-breeds/profiles">Find your dog breed</a>
        </li>
        <li>
          <a href="https://www.purina.com/cats/cat-breeds">Find your cat breed</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
